version: 2
jobs:
  build:
    
    working_directory: ~/circleci-demo-java-spring

    docker:
      - image: circleci/openjdk:8-jdk-browsers
      - image: circleci/postgres:9.6.3-alpine
        environment:
          POSTGRES_USER: root
          POSTGRES_DB: circle_test

    steps:

      - checkout

      - restore_cache:
          key: circleci-demo-java-spring-{{ checksum "pom.xml" }}
      
      - run: mvn dependency:go-offline
      
      - save_cache:
          paths:
            - ~/.m2
          key: circleci-demo-java-spring-{{ checksum "pom.xml" }}
      
      - run: mvn package
      - run:
          name: install-aws
          command: apt-get -y -qq update
            apt-get -y -qq install python3.4-dev
            python3.4 get-pip.py --user
            pip install awscli --upgrade --user
      - store_test_results:
          path: target/surefire-reports      
      - store_artifacts:
          path: target/demo-java-spring-0.0.1-SNAPSHOT.jar        
          
      - run:
          name: Deploy to S3 if tests pass and branch is Master
          command: aws s3 sync target/demo-java-spring-0.0.1-SNAPSHOT.jar s3://devopsteam --delete


